{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock %}</h2>
{% endblock %}

{% block content %}
  <h3>About</h3>
  Yet another FOSS SecureDrop built on top of NuCypher and Ethereum. 

  <p>
      Securedrop is a self-hostable web 2.0 app created originally by Aaron
      Swartz and now maintained by the Freedom of Press Foundation. It helps
      whistle-blowers submit data anonymously to media organizations. NuDrop will
      utilize the cryptographic infra of NuCypher network and allow users to share and
      submit data anonymously by people such as whistleblowers and journalists to
      organizations such as media outlets. It provides a side-channel app on top of
      NuCypher which facilitates the communication.
  </p>
{% endblock %}
