{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Policy{% endblock %}</h2>
{% endblock %}

{% block content %}
  {% if policy_data  %}
  Verifying Key: 
  {{policy_data.verifying_key}}
  <br>
  Policy Public Key: {{policy_data.policy_public_key}}
  <br>
  Label: {{policy_data.label}}
  <br>
  {% else %}
  <form method="POST" action="/policy">
      <label for="bob">Choose a bob:</label>
      <select name="bob">
          {% for b in data.bobs %}
          <option value="{{ b }}">{{ b }}</option>
          {% endfor %}
      </select>

      <label for="codename">Codename</label>
      <input name="codename">
      
      <label for="label">Label</label>
      <input name="label">

      <label for="checksum_address">Checksum Address</label>
      <input name="checksum_address">

      <br>
      <button>Create</button>
  </form>
  {% endif %}

{% endblock %}
