{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Register Bob{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% if tmpl_data %} 
    Name: {{ tmpl_data.pub.name }}
    <br>
    <b>Priv</b>
    <br>
    Sig key: {{ tmpl_data.priv.sig_key }}
    <br>
    Enc key: {{ tmpl_data.priv.enc_key }}
    <br> 
    <b>Pub</b>
    <br>
    Sig key: {{ tmpl_data.pub.sig_key }}
    <br>
    Enc key: {{ tmpl_data.pub.enc_key }}
    <br>
    {%else%}
    <form action="/register/bob" method="POST">
        Name: <input type="text" name="name">
        <br>
        <button>Register</button>
    </form>
    {%endif%}
{% endblock %}
